{:application/name                    "Oak"
 :org/name                            "Oak"
 :http/host                           "0.0.0.0"
 :http/port                           4800
 ;; not set by default, in which case it gets inferred from the request
 ;; :http/origin "http://localhost:4800"
 :password/hash-type                  "argon2" ;; "bcrypt", "scrypt"
 :http-session/cookie-name            "oak-session"
 :redis/host                          "localhost"
 :redis/port                          6379
 :redis/timeout-ms                    1000
 :http/csp-policy                     "default-src 'self'; script-src 'self' 'nonce-random_value'; img-src 'self' data:;"
 :oauth/access-token-exp-time-seconds 1800
 :openid/id-token-exp-time-seconds    300
 :html/inline-css                     true
 :totp/hash-alg                       "SHA-512"
 :totp/secret-size                    64
 :password-reset/link-expiry-hours    24
 :password/min-length                 6
 :time/zone-id                        "UTC"}
