{;; Set the secure flag on the cookie, making it exclusive to https requests
 :http-session/secure-cookie true
 :http/csp-policy "default-src 'self'; script-src 'self' 'nonce';"
 :html/inline-css false}
